<div class="d-flex justify-content-evenly bg-dark text-white p-5">
    <div>
        <a href="" routerLink="addition" >addition</a>
    </div>
    <div>
        <a href="" routerLink="bmi">BMI</a>    
    </div>
    <div>
        <a href="" routerLink="emi">EMI</a>
    </div>
    <div>
        <a href="" routerLink="subtraction">subtraction</a>
    </div>
    <div>
        <a href="" routerLink="division">division</a>
    </div>
    <div>
        <a href="" routerLink="cube">cube</a>
    </div>
    <div>
        <a href="" routerLink="lengthconversion">meter to centimeter via conversion</a>
    </div>
    <div> 
        <a href="" routerLink="temperatureconversion">temperature conversion</a>
    </div>
</div>